// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #6B7280;
$light-gray: #F4F4F4;
$light-black: #333333;
$button-black:rgba(51, 51, 51, 0.8);
