
<div class="row">
  <% @gears.each do |gear| %>
    <div class="col-md-4 p-2">
      <div class="card border-0" style="width: 18rem;">
        <img src="https://www.rei.com/media/2f9c8c47-299b-4a4c-aa05-b10fbf303691.jpg" class="card-img-top mt-2" alt="...">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p><strong><%= gear.brand %></strong></p>
            <p style="color: grey">$<%= gear.price %> per day</p>
          </div>
        <p class="card-text"><%= gear.name %></p>
        <a href="#" class="btn btn-primary">Reserve</a>
        </div>
      </div>
    </div>
  <% end %>
</div>




      <%# <img src="https://www.rei.com/media/2f9c8c47-299b-4a4c-aa05-b10fbf303691.jpg" alt="Girl in a jacket" width="300" height="200"> %>
