.btn_black {
  background-color: $button-black;
  color: white;
  border: 1px solid $button-black;
  &:hover {
    background-color: black;
    color: white;
  }
}

.btn_white {
  background-color: white;
  color: $light-black;
  border: 1px solid $light-black;
  &:hover {
    background-color: black;
    color: white;
  }
}

.btn_sm {
  border-radius: 20px;
  height: 30px;
  width: 100px;
}

.btn_lg {
  border-radius: 10px;
  height: 40px;
  width: 300px;
}

.btn_none {
  color: $light-black;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $light-black;
    text-decoration: underline;
  }
}

.btn_underline {
  color: $light-black;
  text-decoration: underline;
  padding:0;
  // transition: all 0.2s ease-in-out;
  // &:hover {
  //   color: $light-black;
  //   text-decoration: underline;
  // }
}

.btn_primary {
  background-color: $button-black !important;
  border-color: none !important;
  --bs-btn-border-color: none !important;
  --bs-btn-bg:$button-black !important;
  color:white;
  border-radius: 10px;
}

.btn_primary:hover, .btn_primary:active, .btn_primary:visited {
  background-color: black !important;
  border-color: none !important;
  --bs-btn-border-color: none !important;
  --bs-btn-bg:$button-black !important;
  color:white;
}
ttytt
.btn_secondary {
  background-color: white !important;
  border-color: black !important;
  color: black;
  border-radius: 10px;
  // --bs-btn-border-color: black !important;
  // --bs-btn-bg:white !important;
}

.btn_secondary:hover, .btn_secondary:active, .btn_secondary:visited {
  background-color: black !important;
  border-color: none !important;
  color:white;
  --bs-btn-border-color: none !important;
  --bs-btn-bg:$button-black !important;
}

.link_none {
  color:$light-black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
